:root {
    --primary: rgb(115, 87, 219);
    --gray: rgb(128 ,128 ,128);
    --light-gray: rgb(208, 208, 208);
    --subtle-gray: rgb(240, 240, 240);
    --success: rgba(44, 216, 44, 0.8);
    --danger: rgb(255, 59, 59, 0.8);
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

input:focus {
    outline: none;
}

#log-in, #register {
    height: 100%;
}

#register {
    display: none;
}

.flex-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 1px var(--light-gray) solid;
    padding: 18px 24px;
}

header h1 {
    font-size: 16px;
    margin: 0;
}

.login-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    min-width: 500px;
}

.login-card .title {
    text-align: center;
    margin: 12px 0;
}

.login-card .btn {
    margin: 12px auto;
}

.inline-input {
    display: flex;
}

.custom-input {
    display: flex;
    width: 100%;
    border: 1px var(--light-gray) solid;
    border-radius: 8px;
    padding: 12px;
    margin: 12px 0;
}

.inline-input .custom-input {
    flex: 1;
    width: auto;
    margin-right: 12px;
}

.inline-input div:last-child {
    margin-right: 0;
}

.custom-input i {
    background: var(--subtle-gray);
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 12px;
}

.custom-input > div {
    flex: 1;
    margin-left: 12px;
}

.custom-input label {
    display: block;
    color: var(--gray);
    font-size: 12px;
}

.custom-input input {
    display: block;
    border: none;
    border-color: white;
    margin-top: 4px;
    width: 100%;
    transition: border-color 0.20s linear;
    font-weight: bold;
    font-size: 18px;
}

.custom-input input:focus {
    border-bottom: 1px var(--primary) solid;
}

.btn {
    border-radius: 8px;
    width: fit-content;
    padding: 12px 18px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn-login {
    background: var(--primary);
    border: 1px var(--primary) solid;
    color: white;
}

.btn-login:hover {
    transform: scale(1.025) translateY(-2px);
}

#nots {
    display: block;
    position: fixed;
    right: 16px;
    top: 16px;
    color: white;
    font-size: 14px;
    padding: 16px;
    border-radius: 8px;
    pointer-events: none;
    line-height: 0;
}

#nots span {
    padding-left: 4px;
}

#nots.success {
    background: var(--success);
}

#nots.fail {
    background: var(--danger);
}