:root {
    --primary: rgb(115, 87, 219);
    --gray: rgb(128 ,128 ,128);
    --light-gray: rgba(0, 0, 0, 0.1);
    --subtle-gray: rgb(240, 240, 240);
    --success: rgba(44, 216, 44, 0.8);
    --danger: rgb(255, 59, 59, 0.8);
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

input:focus, select:focus-visible {
    outline: none;
}

#log-in, #register {
    height: 100%;
}

#register {
    display: none;
}

.flex-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 1px var(--light-gray) solid;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    width: fit-content;
    font-size: 16px;
    margin: 0;
}

header > nav {
    display: inline-block;
    width: fit-content;
}

header > nav a {
    font-weight: bold;
    color: var(--gray);
    text-decoration: none;
    margin: 0 24px
}

header > nav a.active {
    color: black;
}

header > nav a:last-child {
    margin-right: 0;
}

.login-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    min-width: 500px;
}

.login-card .title {
    text-align: center;
    margin: 12px 0;
}

.login-card .btn {
    margin: 12px auto;
}

.inline-input {
    display: flex;
    flex-wrap: wrap;
}

.leasing-group .inline-input.dotted:last-child {
    padding-bottom: 48px;
    border-bottom: 1px dashed var(--gray);
}

.leasing-group {
    padding-top: 16px;
}

.custom-input {
    display: flex;
    width: 100%;
    border: 1px var(--light-gray) solid;
    border-radius: 8px;
    padding: 12px;
    margin: 12px 0;
}

.inline-input .custom-input, .inline-input .text-select {
    flex: 1;
    width: auto;
    margin-right: 12px;
}

.inline-input table {
    flex: 1;
    margin-top: 24px;
    border: 1px solid var(--light-gray);
    border-spacing: 0;
    border-radius: 8px;
    border-bottom: 8px solid var(--light-gray);
    font-size: 14px;
}

.inline-input table th {
    text-align: start;
    padding: 16px;
    border-bottom: 1px solid var(--light-gray);
    color: var(--gray);
}

.inline-input table td {
    padding: 16px;
    border-bottom: 1px solid var(--light-gray);
    font-weight: bold;
}

.inline-input table tr:hover td {
    background: rgba(0,0,0,0.03);    
}

.inline-input .text-select.third {
    flex: none;
    width: 33.34%;
    margin-right: 12px;
    margin-top: 24px;
}

.inline-input .text-select.third.centered {
    margin-left: auto;
    margin-right: auto;
}

.inline-input .text-select {
    margin-right: 24px;
}

.btn-container {
    margin-top: 24px;
}

.btn-container .btn {
    display: inherit;
    margin: 0 auto;
}

.text-select label {
    display: block;
    color: var(--gray);
    font-weight: bold;
}

.text-select .input {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 12px;
    display: flex;
}

.text-select select {
    font-weight: bold;
    text-align: end;
}

.text-select input {
    flex: 1;
}

.text-select input, .text-select select {
    border: none;
}

.text-select select.full {
    flex: 1;
    width: 100%;
}

.inline-input div:last-child {
    margin-right: 0;
}

.custom-input i {
    background: var(--subtle-gray);
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 12px;
}

.custom-input > div {
    flex: 1;
    margin-left: 12px;
}

.custom-input label {
    display: block;
    color: var(--gray);
    font-size: 12px;
}

.custom-input input {
    display: block;
    border: none;
    border-color: white;
    margin-top: 4px;
    width: 100%;
    transition: border-color 0.20s linear;
    font-weight: bold;
    font-size: 18px;
}

.inline-input .text-select input {
    transition: border-color 0.20s linear;
    border: 1px solid white;
}

.custom-input input:focus, .inline-input .text-select input:focus {
    border-bottom: 1px var(--primary) solid;
}

.btn {
    border-radius: 8px;
    width: fit-content;
    padding: 12px 18px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn-primary {
    background: var(--primary);
    border: 1px var(--primary) solid;
    color: white;
}

.btn-primary:hover {
    transform: scale(1.025) translateY(-2px);
}

.container {
    padding: 32px 96px;
}

.container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container.max .title h2{
    margin: 0 !important;
    padding: 0;
    font-size: 48px;
}
.container.max h3{
    font-size: 32px;
}

table.dataTable {
    font: 'Lato', 'sans-serif';
    font-size: 14px;
    margin: 32px auto;
}

table.dataTable thead th {
    color: var(--gray);
    border-bottom: 1px solid var(--light-gray);
    padding: 16px;
}

table.dataTable tbody tr td  {
    border-top: 1px solid var(--light-gray);
    font-weight: bold;
    padding: 16px;
}

table.dataTable.no-footer {
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    border-bottom: 8px solid var(--light-gray);
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    font-size: 14px;
    font-weight: bold;
    background: white;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    font-size: 14px;
    font-weight: bold;
    background: var(--light-gray);
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: rgba(0,0,0,0.3) !important;
}

.tag {
    padding: 8px 16px;
    border-radius: 8px;
}

.tag.pending {
    color: rgb(226, 109, 0);
    background-color: rgb(255, 235, 217);
}

.tag.done {
    color: var(--success);
    background: rgb(224, 255, 224);
}

#nots {
    display: block;
    position: fixed;
    right: 16px;
    top: 16px;
    color: white;
    font-size: 14px;
    padding: 16px;
    border-radius: 8px;
    pointer-events: none;
    line-height: 0;
}

#nots span {
    padding-left: 4px;
}

#nots.success {
    background: var(--success);
}

#nots.fail {
    background: var(--danger);
}